# set url for the scoped package
@rhythm-ui:registry=https://gitlab.com/api/v4/projects/37931699/packages/npm/
# Add auth token for the Gitlab scoped package
# //gitlab.com/api/v4/projects/<<<your project id>>>/packages/npm/:_authToken=<<<access token>>>
//gitlab.com/api/v4/projects/37931699/packages/npm/:_authToken=glpat-1QGesMibnvYELVT6LcX1
